<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <div class="flex-center">

  <ion-card>
  <ion-card-header>
    <ion-card-title>Register</ion-card-title>
  </ion-card-header>  
  
  <ion-card-content>
    <ion-item>

      <ion-label position="float">Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="float">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>  
      <ion-label position="float">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="float">Confirm password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="float">Phone</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>

    <ion-button size="full" color="success">Register</ion-button>

  </ion-card-content>
  
  </ion-card>
  </div>

</ion-content>
